<div>
    <h1>Ingresar con Github</h1>
    <a href="/api/sessions/github"> <button>Github</button> </a>
    <br />
    <p>¿No se encuentra registrado? <a href="/users/register">Registrese</a></p>
    <p>¿Posee una cuenta? <a href="/user/login">Ingresar</a></p>
</div>