<h2>Menu</h2>
<ul>
    <li><a href="/users/login"> Ingresar </a></li>
    <li><a href="/products"> Lista de Productos </a></li>
    <li><a href="/carts">  </a></li>
    {{! <li><a href="/api/products/realtimeproducts">Con websokets</a></li> }}
    <li><a href="/api/sessions/logout">Salir</a></li>

</ul>